<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase"><span>Bootstrap</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                <form method="post" class="text-left form-validate" action="/dang-nhap">
                    <fieldset>
                        <input placeholder="Username" type="text" name="username" class="inputTextLogin">
                        <input id="password" type="password" name="password" required
                            data-msg="Please enter your password" placeholder="Password" class="inputTextLogin">
                        <button class="buttonLogin" type="submit">Login</button>
                    </fieldset>
                </form><a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a
                    href="register.html" class="signup">Signup</a>
            </div>
            <div class="copyrights text-center">
                <p>Design by <a href="https://bootstrapious.com/p/bootstrap-4-dashboard"
                        class="external">Bootstrapious</a>
                </p>
            </div>
        </div>
    </div>
</div>